.modalMask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalBody {
  width: 50%;
  max-width: 500px;
  background: #1d1d1d;
  border-radius: 20px;
  position: relative;
}

.modalHeader {
  padding: 30px;
  border-bottom: 2px solid #262626;
}

.modalHeader h2 {
  font-size: 18px;
  margin: 10px 0;
  font-weight: bold;
}

.roomTypes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.typeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.typeBox.active {
  background: #133433;
}

.heading {
  margin-bottom: 8px;
}

.modalFooter {
  padding: 30px;
  text-align: center;
}

.modalFooter h2 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}

.modalFooter button {
  background: #133433;
  color: #fff;
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: center;
  padding: 7px 10px;
  border-radius: 20px;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}

.modalFooter button span {
  margin-left: 10px;
  font-weight: bold;
}

.modalFooter button:hover {
  background: #133456;
}

.closeModalButton {
  position: absolute;
  right: 3px;
  top: 8px;
  background: none;
  color: #fff;
}
