.mainWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 190px);
  /* back
  ground: #fff; */
}

/* align logo to the leftwithin the card container */
.cardContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #fff;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.syncLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin-right: 16px;
  background-color: #f8f8f8;
  border-radius: 50%;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.heading {
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 1rem;
}
.subHeading {
  color: rgb(213, 252, 151);
  font-size: 1.2rem;
  font-weight: 500;
}

footer {
  position: fixed;
  bottom: 0;
  margin-bottom: 1rem;
}

.mainLabel {
  font-size: 16px;
  font-weight: 600;
  color: #487;
  margin-top: 16px;
  margin-right: auto;
}

footer a {
  color: #4aee88;
  text-decoration: none;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}

.inputBox {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #4aee88;
  border-radius: 0.5rem;
  background-color: #eee;
  font-size: 1rem;
  font-weight: 600;
  outline: none;
  margin: 0.5rem 0;
}
.joinBtn {
  padding: 0.5rem;
  border: 1px solid #4aee88;
  border-radius: 0.5rem;
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-left: auto;
  width: 100px;
}

.joinBtn:hover {
  background-color: #4aee88;
  color: #000;
}

.createInfo {
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn {
  color: #4aee88;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  border-bottom: 1px solid #4aee88;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.createNewBtn:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}
