.roomsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
}

.heading {
  font-style: 20px;
  font-weight: bold;
  position: relative;
}

.searchBox {
  background: #262626;
  margin-left: 20px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  min-width: 300px;
  border-radius: 20px;
}

.searchInput {
  background: transparent;
  border: none;
  outline: none;
  padding: 10px;
  color: #fff;
  width: 100%;
}

.heading::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 60%;
  height: 4px;
  background: #0077ff;
}

.startRoomButton {
  display: flex;
  align-items: center;
  background: #20bd5f;
  padding: 5px 20px;
  border-radius: 20px;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.startRoomButton span {
  font-size: 15px;
  margin-left: 10px;
}

.startRoomButton:hover {
  background: #20ad5f;
}
